[submodule "TomoeEngine/vendor/spdlog"]
	path = TomoeEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "TomoeEngine/vendor/GLFW"]
	path = TomoeEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TomoeEngine/vendor/imgui"]
	path = TomoeEngine/vendor/imgui
	url = https://github.com/sgab53/imgui.git
[submodule "TomoeEngine/vendor/glm"]
	path = TomoeEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
